<div class="row">
	<div class="large-12 columns">
		<hr>
		<!-- Top Bar -->
		<nav>
			<ul class="inline-list">
				{% for link in linklists.footer.links %}
					<li>{{ link.title | link_to: link.url }}</li>
				{% endfor %}
			</ul>
			
		</nav>
		<!-- End Top Bar -->
		<hr>
	</div>
</div>