{% if settings.footer_widgets_on %}
	<!-- Widgets -->
		{% include 'footer-widgets' %}
	<!-- End Widgets -->
{% endif %}

<footer class="row">
	<div class="large-12 columns">
		<hr>
		<div class="row">
			<div class="large-6 columns">
				
				<p><small><a href="https://github.com/Cam/Shopify-Foundation-Theme">Theme</a> Built by <a href="http://www.designcollective.io">DesignCollective.io</a> - Template Credits: Shopify-Foundation-Theme</small></p>
				
			</div>
			<div class="large-6 columns">
				<p align="right"><small>&copy; Copyright {{ "now" | date: "%Y" }} {{ shop.name }}. {{ powered_by_link }}</small></p>
			</div>
		</div>
	</div>
</footer>